@using Microsoft.AspNetCore.Components.Routing

<ul class="nav">
    <li><NavLink class="nav-link" href="" Match="NavLinkMatch.All">Dashboard</NavLink></li>
    <li><NavLink class="nav-link" href="ingest">Ingest</NavLink></li>
    <li><NavLink class="nav-link" href="quotes">Quotes</NavLink></li>
    <li><NavLink class="nav-link" href="policies">Policies</NavLink></li>
    <li><NavLink class="nav-link" href="events">Domain events</NavLink></li>
    <li><NavLink class="nav-link" href="database">Database browser</NavLink></li>
</ul>

<div class="nav-footer">
    <a class="nav-external" href="swagger" target="_blank" rel="noopener">OpenAPI / Swagger</a>
    <ThemeToggle />
</div>
